.App {
  text-align: center;
  background-image: url("https://res.cloudinary.com/bcantello/image/upload/v1585530035/the-background-4706293_j9mtag.jpg");
  background-size: cover;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  text-decoration: none;
}
nav div {
  padding: 1.5em;
  font-size: 1.5em;
}
