.directions-item {
    background-color: rgba(203, 203, 203, 0.78);
    padding: .45em 0;
}
.directions-list {
    overflow: scroll;
    height: 70vh;
    width: 95vw;
    margin: 0 auto;
    border-radius: 10px;
}